n=int(input("N="))

def primek(n):
    if n>1:
        for i in range(2,n):
            if (n%i)==0:
                print (n, "nem prim")
                break
        else:
            print(n, "prim")
    else:
        print(n, "nem prim")

a=primek(n)

def hanyadikprim(a):
    for j in range (1,a):
